*,
*:after,
*:before
{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-size: 18px;
	/*font-family: 'PT Serif', serif;*/
	font-family: 'Roboto', sans-serif;
	
}
ul{
	padding: 0;
}

li{
	list-style: none;
}

a{

	text-decoration: none;
	color: inherit;
}

.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
	

}

.header{
	background: url(images/safari.jpg) center  no-repeat;
	background-size: cover;
}
.header__inner{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header__top{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 16px 0 49px;
	align-items: center;
}

.menu{
	width: 100%;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	margin-top: 15px;
	padding: 27px 0 24px;

	
	


}
.header__phone{
	font-size: 16px;
	font-weight: 700;
	line-height: 130%;
	color: #FFFFFF;

}
.header__phone_number{
	font-weight: 400;
	margin-left: 19px;
	padding: 12px 31px 12px 31px;
	background: #886239;
	border-radius: 22px;

}
.menu__list{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	margin: 0;
}

.header__title{
	font-family: PT Serif;
	font-size: 90px;
	line-height: 130%;
	color: #1F1E1E;
	font-weight: bold;
	text-align: center;
	margin-bottom: auto;
	margin-top: 0;
}

.header__bottom{
	max-width: 420px;
	color: #1F1E1E;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 20px;
}

.header__btn{
	color: #FFFFFF;
	background: #886239;
	border-radius: 30px;
	padding: 20px 55px;
	display: inline-block;
}

.header__arrow{
	text-align: center;
	margin-bottom: 15px;
}

.direction{
	padding: 100px 0;
}

.direction__inner{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 32px;
}

.derection__text{
	color: #1F1E1E;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	border: 1px solid #D9D9DE;
	border-top: none;	
	padding: 12px 19px 19px;
	margin: 0;
}

.derection__img{
	display: block;
}

.travel_info{
	background-image: url(images/travel.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 30px 0 50px;
}

.travel__info_title{
	color: #FFFFFF;
	margin-bottom: 50px;
}

	.title{
	text-align: center;
	font-weight: 500;
	font-size: 36px;
	line-height: 130%;
		}

.travel_info__items{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 54px 67px;

}

.travel_info_img{
margin-bottom: 15px;
}

.travel_info_text{
color: #FFFFFF;
font-size: 16px;
line-height: 130%

}

.popular_tile{
	margin: 0;
	margin-bottom: 40px;
}

.popular{
	padding: 100px 0px;
}
.popular__items{
	display: grid;
	grid-template-columns:repeat(4,1fr) ;
	grid-template-rows: repeat(4,1fr );
	grid-gap: 32px;
	padding-bottom: 82px;
	border-bottom: 1px solid #D9D9DE;
}
.popular__link{
	line-height: 130%;
	padding: 16px 24px 19px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 256px;

}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
	grid-column: span 2;
	grid-row: span 2;
	font-size: 24px;
}
.populars_title{
font-weight: 500;
height: 130%;
margin-top: 0;
max-height: 57px;
margin-bottom: 0;
}

.popular__price{
font-weight: 700;
font-size: 16px;
height: 130%;
margin-top: auto;
max-height: 18px;

}
.popular__country{
padding: 15px 0 15px;
margin: 0;
font-weight: 400;
font-size: 16px;
}

.popular__time{
margin: 0;
font-weight: 400;
font-size: 16px;
}

.other{
	width: 218px;
}

.other_2{
	width: 218px;
}

.other_3{
	width: 218px;
}

.map__title{
margin: 0;
margin-bottom: 46px;	
}

.map{
	padding-bottom: 100px;
}
.about{
	padding-bottom: 100px;
}
.about_inner{
	display: grid;
	grid-template-columns: 448px 640px;
	grid-gap: 32px;
}

.title__about{
	text-align: left;
	margin-bottom: 25px;
	margin-top: 0;
}

.about__text{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 34px;
}
.about_link{
	color: #C4C4C4;
	font-size: 16px;
	line-height: 19px;
	text-decoration: underline;

}

.about_video{
	background-image: url(images/video.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery{
	padding: 50px 0 105px;
	background: #886239;;
}

.gallery-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 39px;
	color: #efefef;
}
.gallery-title{
	margin: 0;
}



.gallery-inner{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 32px;

}

.slick-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: -85px;
	right: 0;

}

.slick-prev{
	right: 60px;
}
.gallery-link{
	padding-right: 155px;
	text-decoration: underline;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

.tour{
	padding: 100px 0;
}

.tour_title{
	margin-bottom: 77px;
	margin-top: 0;
}
.tour_box{
column-count: 2;
column-gap: 46px;
border-bottom: 1px solid #D9D9DE;
padding-bottom: 65px;
margin-bottom: 44px;
}
.tour_text{
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
	margin-top: 0;
}

.tour_info{
	display: grid;
	grid-template-columns: repeat(5, 1fr) ;
	grid-gap: 70px;
}

.tour_item{
	text-align: center;
font-weight: bold;
font-size: 58px;

color: #886239;
font-family: 'PT Serif', serif;
}

.tour_info_text{
	font-weight: 500;
color: #1F1E1E;
font-size: 20px;

font-family: Roboto;

}

.form{
	padding: 75px 0;
	background: #EAEAEA;
}

.form_title{
	margin-bottom: 43px;
}
.form_info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 830px;
	margin: 0 auto;
}

.form_input{
	width: 256px;
	height: 44px;
	border: 1px solid #D9D9DE;
	padding: 11px 14px 12px;
	margin-bottom: 28px;
	
}

.form_input::placeholder,
.form_area::placeholder
{
font-size: 16px;
	line-height: 130%;
	color: #C4C4C4;
	font-family: 'Roboto', sans-serif;
}
.form_area{
	width: 100%;
	padding: 14px;
	height: 112px;
	border: 1px solid #D9D9DE;
	resize: none;
	margin-bottom: 67px;
}
.btn_form{
	font-size: 18px;
	line-height: 29px;
	color: #FFFFFF;
	border: none;
	background: #886239;
border-radius: 30px;
padding: 20px 64px;
cursor: pointer;
}

.form_label{
	font-size: 16px;
	text-decoration-line: underline;
	color: #1F1E1E;
	line-height: 130%;
	display: flex;
	align-items: center;
}
.label_input{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin-left: 45px;

}

.checkbox{
	width: 26px;
	height: 26px;
	border-radius: 2px;
	border: 2px solid #C4C4C4;
	position: absolute;
	margin-left: -45px;
}

.label_input:checked + .checkbox::before{
content: "";
position: absolute;
width: 15px;
height: 15px;
background-color: #c4c4c4;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.footer{
	background: #1F1E1E;
	padding: 78px 0;
	color: #FFFFFF;
}

.footer_logo{
	text-align: center;
	margin-bottom: 69px;
}

.footer_box{
	display: flex;
	justify-content: space-between;
}

.footer_title{
font-weight: 500;
font-size: 14px;
line-height: 19px;
margin: 0;
}

.footer_copy{
	opacity: 0.8;
color: #FFFFFF;
font-weight: 400;
font-size: 14px;
margin: 0;
padding: 7px 0;
}
.footer_link{
text-decoration: underline;
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.footer_addres_inner{
	width: 210px;
	height: 80px;
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
	opacity: 0.8;
	margin: 0;
	padding-top: 7px;
}
.footer_phone,
.footer_mail
{
font-size: 14px;
font-weight: 400;
line-height: 18px;
opacity: 0.8;
}
